[settings]
# NOTE: experimental is needed for conda backend (clang, clang-tools)
experimental = true

[tools]
# Environment tools:
"bazel" = "6.5"
"python" = "3.11"
"pipx" = "latest"
"pipx:codechecker" = "6.26"

# Clang tools:
"conda:clang" = "latest"
"conda:clang-tools" = "latest"

# Dev tools:
"pipx:pycodestyle" = "latest"
"pipx:pylint" = "latest"
"pipx:pytest" = "latest"
"buildifier" = "latest"


[vars]
run = ".mise/print-env.sh -vvv && pytest"


[tasks."install:bazel-6"]
tools = { "bazel" = "6.5" }
run = ""
quiet = true

[tasks."install:bazel-7"]
tools = { "bazel" = "7" }
run = ""
quiet = true

[tasks."install:bazel-8"]
tools = { "bazel" = "8" }
run = ""
quiet = true

[tasks."install:bazel"]
depends = ["install:bazel-6", "install:bazel-7", "install:bazel-8"]
run = ""
quiet = true

[tasks."install:codechecker-25"]
tools = { "pipx:codechecker" = "6.25" }
run = ""
quiet = true

[tasks."install:codechecker-26"]
tools = { "pipx:codechecker" = "6.26" }
run = ""
quiet = true

[tasks."install:codechecker-27"]
tools = { "pipx:codechecker" = "6.27" }
run = ""
quiet = true

[tasks."install:codechecker"]
depends = ["install:codechecker-25", "install:codechecker-26", "install:codechecker-27"]
run = ""
quiet = true

[tasks."install"]
depends = ["install:bazel", "install:codechecker"]
run = "# Installing tools"
quiet = true


[tasks."test"]
depends = ["install:bazel-7", "install:codechecker-26", "install:codechecker-27"]
run = [
    { task = "test:7-26" },
    { task = "test:7-27" },
]

[tasks."test:all"]
depends = ["install"]
run = [
    { task = "test:6" },
    { task = "test:7" },
    { task = "test:8" },
]

[tasks."test:6"]
depends = ["install:bazel-6", "install:codechecker"]
run = [
    { task = "test:6-25" },
    { task = "test:6-26" },
    { task = "test:6-27" },
]

[tasks."test:7"]
depends = ["install:bazel-7", "install:codechecker"]
run = [
    { task = "test:7-25" },
    { task = "test:7-26" },
    { task = "test:7-27" },
]

[tasks."test:8"]
depends = ["install:bazel-8", "install:codechecker"]
run = [
    { task = "test:8-25" },
    { task = "test:8-26" },
    { task = "test:8-27" },
]

[tasks."test:6-25"]
run = "{{vars.run}}"
tools = { "bazel" = "6.5", "pipx:codechecker" = "6.25" }

[tasks."test:6-26"]
run = "{{vars.run}}"
tools = { "bazel" = "6.5", "pipx:codechecker" = "6.26" }

[tasks."test:6-27"]
run = "{{vars.run}}"
tools = { "bazel" = "6.5", "pipx:codechecker" = "6.27" }

[tasks."test:7-25"]
run = "{{vars.run}}"
tools = { "bazel" = "7", "pipx:codechecker" = "6.25" }

[tasks."test:7-26"]
run = "{{vars.run}}"
tools = { "bazel" = "7", "pipx:codechecker" = "6.26" }

[tasks."test:7-27"]
run = "{{vars.run}}"
tools = { "bazel" = "7", "pipx:codechecker" = "6.27" }

[tasks."test:8-25"]
run = "{{vars.run}}"
tools = { "bazel" = "8", "pipx:codechecker" = "6.25" }

[tasks."test:8-26"]
run = "{{vars.run}}"
tools = { "bazel" = "8", "pipx:codechecker" = "6.26" }

[tasks."test:8-27"]
run = "{{vars.run}}"
tools = { "bazel" = "8", "pipx:codechecker" = "6.27" }
