name: Linters

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        wget https://github.com/bazelbuild/buildtools/releases/download/v8.5.1/buildifier-linux-amd64 -O /usr/local/bin/buildifier
        chmod +x /usr/local/bin/buildifier

    - name: Analyzing the code with Buildifier
      run: |
        echo "### Buildifier Format Issues" >> $GITHUB_STEP_SUMMARY
        echo '```diff' >> $GITHUB_STEP_SUMMARY
        buildifier -diff_command="diff -u" -d -r . 2>&1 | tee -a $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY
        echo "### Buildifier Linter Issues" >> $GITHUB_STEP_SUMMARY
        echo '```diff' >> $GITHUB_STEP_SUMMARY
        buildifier --lint=warn -r . 2>&1 | tee -a $GITHUB_STEP_SUMMARY
        echo '```' >> $GITHUB_STEP_SUMMARY

    # TODO: Add more linters here
