name: codechecker-bazel-tests

# Triggers the workflow on push or pull request events.
on: [push, pull_request]

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  rules_test:
    name: Unit tests
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/env_setup

      - name: Print versions
        run: |
          bazel version
          CodeChecker version
          echo "[NOTE]: If you are debugging, its possible that " \
               "CodeChecker finds different analyzers when running in " \
               "bazel's sandbox environment!"
          CodeChecker analyzers

      - name: Run tests
        run: |
          cd test
          python3 test.py -vvv

  small_test:
    # Test if code runs successfully against a small project
    name: Small Project Test
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup environment
        uses: ./.github/actions/env_setup

      - name: Patching codechecker_bazel targets onto test_project
        run:  |
          sh .github/workflows/patch-test-proj.sh ${{ github.repository }} ${{ github.ref }}

      - name: Run Monolithic Bazel CodeChecker
        run: |
          cd test_project
          bazel build :codechecker_test

      - name: Run Distributed Bazel CodeChecker
        run: |
          cd test_project
          bazel build :code_checker_test
